.head {
    padding-top: 35px;
    padding-bottom: 40px;
  .container {
      margin: 0 auto;
      max-width: 1120px;
  }
  .menu-open {
    img {
      display: none;
    }
  }
  .wrap {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .head__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-close {
    img {
      display: none;
    }
  }
  .head__logo {
  }
  .head__link {
    display: flex;
    gap: 50px;
    a {
      color: #001a49;
      font-family: $text-fonts;
      font-size: 16px;
      font-weight: 700;
    }
  }
  .head__log {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 50px;
    a:nth-child(1) {
      color: #001a49;
      font-family: $text-fonts;
      font-size: 16px;
      font-weight: 700;
    }
    a:nth-child(2) {
      padding: 15px 30px;
    }
  }
}
