.hero {
  max-width: 1090px;
  background-color: #e7eaeb;
  border-radius: 0px 20px 20px 0px;

  //   position: relative;

  &.container {
    margin-right: auto;
    display: flex;
    overflow: hidden;
    padding-right: 30%;
  }
  .wrap {
    max-width: 697px;
    padding-top: 134px;
    padding-bottom: 109px;
    padding-left: 160px;
  }
  .hero__title {
    color: $title-color;
    font-family: $title-fonts;
    font-size: 60px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -1px;
    margin-bottom: 20px;
  }
  .hero__text {
    color: $text-color;
    font-family: $text-fonts;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .hero__link {
    padding: 20px 50px;
    margin-bottom: 100px;
  }
  .link {
  }
  .wraps {
    display: flex;

    div {
      margin-left: 107px;
      margin-top: 12.5px;
    }

    li {
      position: absolute;
      width: 50px;
      height: 50px;
      img {
      }
      &:nth-child(2) {
        left: 25px;
      }
      &:nth-child(3) {
        left: 50px;
      }
    }
    span {
      color: $text-color;
      font-family: $text-fonts;
      font-size: 16px;
      font-weight: 400;
      span {
        color: #9f07ff;
      }
    }
  }
  .hero__list {
    display: flex;
    position: relative;
  }
  .hero__img {
    display: flex;
    border-radius: 20px 20px 20px 20px;
    background: #001a49;
    box-shadow: 0px 32px 44px 0px #818a8c;
    width: 590px;
    height: 360px;
    flex-shrink: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 60%;
    top: 8%;
    img{
      cursor: pointer;
    }
  }
}
