.statistic {
  padding-top: 100px;
  position: relative;


  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 88px;
    display: block;
    height: 88px;
    background-image: linear-gradient(36deg, #FFD7A9 9.11%, #FFAE70 71.64%);
    border-radius: 50%;
    top: 322px;
    left: 178px;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: -2;
    width: 288px;
    display: block;
    height: 288px;
    background-image: linear-gradient(44deg, #cd10ff 15.75%, #9f06ff 84.63%);
    border-radius: 50%;
    top: 120px;
    left: -25px;
  }
  .container {
    z-index: 9999;
    border-radius: 21px;
    border: 1px solid #e7eaeb;
    background: #fff;
    margin: 0 auto;
    max-width: 1120px;
  }
  &__list {
    display: flex;
    &-item {
      position: relative;
      padding: 50px 125px;
      display: flex;
      flex-direction: column;
      &::before {
        content: "";
        position: absolute;
        background: #e7eaeb;
        width: 1px;
        height: 112px;
        left: 361px;
      }

      &:nth-child(3) {
        &::before {
          display: none;
        }
      }

      .text {
        color: $text-color;
        text-align: center;
        font-family: $text-fonts;
        font-size: 16px;
        font-weight: 400;
      }
      span {
        color: $title-color;
        text-align: center;
        font-family: $title-fonts;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
      }
    }
  }
}
