<footer class="ftr">
  <div class="container">
    <form action="" class="footer__form">
      <a href="" class="footer__form-logo">
        <img src="./img/logo.svg" alt="" />
      </a>
      <div class="wrap"></div>
      <label class="footer__form-label">
        <input type="text" placeholder="Stay in the loop  - sign up with your email"/>
        <button type="submit" class="link">Subscribe</button>
      </label>
    </form>
    <nav class="footer__nav">
        <ul class="footer__nav-help">
            <li>Help Menu</li>
            <li>About</li>
            <li>Features</li>
            <li>Works</li>
            <li>Career</li>
        </ul>
        <ul class="footer__nav-about">
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
            <li>Help & Support</li>
            <li>Terms & Conditions</li>
        </ul>
        <ul class="footer__nav-product">
            <li>Product</li>
            <li>Essential Landing Page</li>
            <li>Alpha Dashboard Pro</li>
            <li>Karnel Admin Dashboard</li>
            <li>Gray UI Kit</li>
        </ul>
    </nav>
  </div>
</footer>
