<section class="hero">
  <div class="container">
    <div class="wrap">
      <h1 class="hero__title">Learn no-code tools today.</h1>
      <p class="hero__text">
        Create beautiful webflow sites with flowbase. Clone for free and get
        started building a site today.
      </p>
      <a href="" class="hero__link link">Get started</a>
      <div class="wraps">
        <ul class="hero__list">
          <li>
            <img width="50" height="50" src="./img/hero__1.png" alt="uses" />
          </li>
          <li>
            <img width="50" height="50" src="./img/hero__2.png" alt="uses" />
          </li>
          <li>
            <img width="50" height="50" src="./img/hero__3.png" alt="uses" />
          </li>
        </ul>
        <div>
          <span>Join over <span>4,000+</span> students</span>
        </div>
      </div>
    </div>
    <div class="hero__img">
      <img width="70" height="70" src="./img/play.svg" alt="" />
    </div>
  </div>
</section>
