<section class="learn">
  <div class="container">
    <h2 class="learn__title">What you’ll learn</h2>
    <p class="learn__text">
      Create beautiful webflow sites with flowbase. Clone for free and get
      started building a site today.
    </p>
    <ul class="learn__list">
      <li class="learn__list-element">
        <div class="wraps">
          <div class="learn__list-img">
            <img width="40" height="33" src="./img/learn.png" alt="" />
          </div>

          <div>
            <h3 class="learn__list-title">Analyzing User Data</h3>
            <p class="learn__list-text">
              Who are you developing for? How will they use your design?
              Building user personas can answer these.
            </p>
          </div>
        </div>

        <div class="wrap">
          <span>6 videos</span>
          <span class="content">4.5 hours</span>
        </div>
      </li>
      <li class="learn__list-element">
        <div class="wraps">
          <div class="learn__list-img">
            <img width="40" height="33" src="./img/learn.png" alt="" />
          </div>

          <div>
            <h3 class="learn__list-title">User Persona</h3>
            <p class="learn__list-text">
              Who are you developing for? How will they use your design?
              Building user personas can answer these.
            </p>
          </div>
        </div>

        <div class="wrap">
          <span>6 videos</span>
          <span class="content">4.5 hours</span>
        </div>
      </li>
      <li class="learn__list-element">
        <div class="wraps">
          <div class="learn__list-img">
            <img width="40" height="33" src="./img/learn.png" alt="" />
          </div>

          <div>
            <h3 class="learn__list-title">Prototyping</h3>
            <p class="learn__list-text">
              Who are you developing for? How will they use your design?
              Building user personas can answer these.
            </p>
          </div>
        </div>

        <div class="wrap">
          <span>6 videos</span>
          <span class="content">4.5 hours</span>
        </div>
      </li>
      <li class="learn__list-element">
        <div class="wraps">
          <div class="learn__list-img">
            <img width="40" height="33" src="./img/learn.png" alt="" />
          </div>

          <div>
            <h3 class="learn__list-title">Storyboarding</h3>
            <p class="learn__list-text">
              Who are you developing for? How will they use your design?
              Building user personas can answer these.
            </p>
          </div>
        </div>

        <div class="wrap">
          <span>6 videos</span>
          <span class="content">4.5 hours</span>
        </div>
      </li>
    </ul>
  </div>
</section>
