<section class="questions">
  <div class="container">
    <h1 class="questions__title">Frequently asked questions</h1>
    <ul class="questions__list">
      <li class="questions__list-item">
        <div class="wrap">
          <h2 class="questions__list-title">
            Will I get full access to the course after purchasing?
          </h2>
          <img src="./img/open.png" alt="" class="open" />
          <img class="close" src="./img/close.png" alt="" />
        </div>
        <p class="questions__list-text">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </p>
      </li>
      <li class="questions__list-item">
        <div class="wrap">
          <h2 class="questions__list-title">
            Do you give money back guarantee?
          </h2>
          <img src="./img/open.png" alt="" class="open" />
          <img class="close" src="./img/close.png" alt="" />
        </div>
        <p class="questions__list-text">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </p>
      </li>
      <li class="questions__list-item">
        <div class="wrap">
          <h2 class="questions__list-title">Do you offer a discount?</h2>
          <img src="./img/open.png" alt="" class="open" />
          <img class="close" src="./img/close.png" alt="" />
        </div>
        <p class="questions__list-text">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </p>
      </li>
      <li class="questions__list-item">
        <div class="wrap">
          <h2 class="questions__list-title">
            Do you offer support after joining?
          </h2>
          <img src="./img/open.png" alt="" class="open" />
          <img class="close" src="./img/close.png" alt="" />
        </div>
        <p class="questions__list-text">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </p>
      </li>
    </ul>
  </div>
</section>
