<section class="swipers">
  <div class="container">
    <h2 class="swipers__title">What my students say</h2>
    <p class="swipers__text">
      Create custom landing pages with Shades that convert more visitors than
      any website—no coding required.
    </p>
    <div class="swiper">
      <div class="swiper-wrapper">
        <slot class="swiper-slide">
          <p class="swiper-text">
            “I waited to completely finish the course to rate it. This was my
            first approach to python, i am an excel and VBA user. The professor
            has an excellent way to explain it and a lot or order and
            organization. I really recommend it.”
          </p>
          <div class="wrap">
            <img width="60" src="./img/swiper_1.png" alt="" />
            <div>
              <span class="name">Henk Fortuin</span>
              <span>Founder of Crips</span>
            </div>
          </div>
        </slot>
        <slot class="swiper-slide">
          <p class="swiper-text">
            “I waited to completely finish the course to rate it. This was my
            first approach to python, i am an excel and VBA user. The professor
            has an excellent way to explain it and a lot or order and
            organization. I really recommend it.”
          </p>
          <div class="wrap">
            <img width="60" src="./img/swiper_2.png" alt="" />
            <div>
              <span class="name">Opi Watihana</span>
              <span>Founder of Crips</span>
            </div>
          </div>
        </slot>
        <slot class="swiper-slide">
          <p class="swiper-text">
            “I waited to completely finish the course to rate it. This was my
            first approach to python, i am an excel and VBA user. The professor
            has an excellent way to explain it and a lot or order and
            organization. I really recommend it.”
          </p>
          <div class="wrap">
            <img width="60" src="./img/swiper_3.png" alt="" />
            <div>
              <span class="name">Henk Fortuin</span>
              <span>Founder of Crips</span>
            </div>
          </div>
        </slot>
        <slot class="swiper-slide">
          <p class="swiper-text">
            “I waited to completely finish the course to rate it. This was my
            first approach to python, i am an excel and VBA user. The professor
            has an excellent way to explain it and a lot or order and
            organization. I really recommend it.”
          </p>
          <div class="wrap">
            <img width="60" src="./img/swiper_1.png" alt="" />
            <div>
              <span class="name">Opi Watihana</span>
              <span>Founder of Crips</span>
            </div>
          </div>
        </slot>
        <slot class="swiper-slide">
          <p class="swiper-text">
            “I waited to completely finish the course to rate it. This was my
            first approach to python, i am an excel and VBA user. The professor
            has an excellent way to explain it and a lot or order and
            organization. I really recommend it.”
          </p>
          <div class="wrap">
            <img width="60" src="./img/swiper_2.png" alt="" />
            <div>
              <span class="name">Henk Fortuin</span>
              <span>Founder of Crips</span>
            </div>
          </div>
        </slot>
        <slot class="swiper-slide">
          <p class="swiper-text">
            “I waited to completely finish the course to rate it. This was my
            first approach to python, i am an excel and VBA user. The professor
            has an excellent way to explain it and a lot or order and
            organization. I really recommend it.”
          </p>
          <div class="wrap">
            <img width="60" src="./img/swiper_3.png" alt="" />
            <div>
              <span class="name">Opi Watihana</span>
              <span>Founder of Crips</span>
            </div>
          </div>
        </slot>
      </div>
    </div>
  </div>
</section>
